 :root{
    --rosa-claro:#fff7fa;
    --rosa:#ff85a2;
    --rosa-suave:#ffeef2;
    --gris:#333333;
}
 
body{
    margin:0;
    background-color: var(--rosa-claro);
    color: var(--gris);
    font-family: 'Oswald', sans-serif;
}
 
.header{
    background: linear-gradient(
        #f32a74cc,
        rgba(255,182,193,0.6)
    );
    padding: 30px;
    text-align: center;
}
.header p{
    font-size: 22px;
    margin-top: 10px;
} 
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    background-color: #f32a74cc;
    padding: 15px;
    border-radius: 10px;
    flex-direction: row !important;
}

.navbar a{
    text-decoration: none;
    color: #d63384;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.navbar a:hover{
    background-color: var(--rosa);
    color: white;
}
 
main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}
 
aside{
    background-color: var(--rosa-suave);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
 
.tareas-contenedor{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.tarjeta{
    background-color: var(--rosa-suave);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.tarjeta:hover{
    transform: scale(1.03);
}
 
.tarjeta p{
    margin: 5px 0;
    font-size: 18px;
}
 
h2{
    text-align: center;
    font-size: 28px;
}

h3{
    background-color: var(--rosa);
    color: white;
    border-radius: 10px;
    padding: 5px;
}
 
.estado-pendiente{
    color: red;
    font-weight: bold;
}

.estado-progreso{
    color: orange;
    font-weight: bold;
}

.estado-completada{
    color: green;
    font-weight: bold;
}
 
footer{
    background-color: #ffd6e0;
    text-align: center;
    padding: 10px;
}